:root {
  --background: 30deg 0% 20%;
  --foreground: 220deg 30% 96%;

  --muted: 0deg 0% 40% / 0.2;
  --muted-foreground: 0deg 0% 100% / 0.7;

  --accent: var(--foreground) / 0.1;
  --accent-foreground: var(--foreground);

  --popover: var(--foreground) / 0.1;
  --popover-foreground: 220 50% 97%;

  /* --border: 360deg 1% 39%; */
  --border: 218deg 67% 98% / 0.2;

  --input: var(--foreground) / 0.2;
  --input-foreground: var(--foreground);
  --input-border: var(--foreground) / 0.3;

  --card: var(--foreground) / 0.1;
  --card-foreground: 220 50% 97%;
  --card-accent: 10, 4%, 37%;
  --card-border: 10, 2%, 40%;

  --modal: var(--foreground) / 0.1;
  --modal-foreground: 220 50% 97%;

  --primary: 109deg 58% 67%;
  --primary-foreground: 67deg 78% 15%;

  /* --secondary: 252deg 5% 27%; */
  --secondary: 245deg 100% 88%;
  --secondary-foreground: 67deg 78% 15%;

  /* --outline: 177deg 73% 45%; */
  /* --outline-foreground: var(--background); */

  --destructive: 0 100% 70%;
  --destructive-foreground: 2 73% 67%;

  --switch: var(--foreground) / 0.2;
  --switch-foreground: var(--foreground) / 0.4;
  --switch-checked: var(--foreground);
  --switch-checked-foreground: var(--background) / 0.4;

  --progress: var(--foreground) / 0.2;
  --progress-foreground: var(--foreground) / 0.6;

  /* Pudgy colors */
  --pudgy-primary: 220deg 100% 75%;
  --pudgy-primary-foreground: 192deg 100% 98%;
  --pudgy-secondary: 192deg 100% 98%;
  --pudgy-secondary-foreground: 213deg 100% 9%;
  --pudgy-border: 213deg 100% 9%;

  /* Fonts */
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;

  /* Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-button: var(--radius-md);
  --radius-input: var(--radius-lg);
  --radius-card: var(--radius-lg);
  --radius-tabs: var(--radius-sm);
  --radius-popover-card: var(--radius-md);

  /* Dark */
  --background-dark: 221deg 9% 18%;
  --foreground-dark: 218deg 57% 98%;

  /* Shadow */
  /* --shadow-card: 0 10px 0 0 hsl(var(--primary)); */
  --shadow-sm: 0 2px 6px hsla(var(--foreground) / 0.05);
  /* --shadow-card: var(--shadow-lg); */
  --shadow-card-sm: 0 5px 0 0 hsl(var(--primary));

  --topbar-height: 48px;
  --sidebar-left-width: 270px;
  --sidebar-right-width: 300px;
  --main-content-width: 600px;
}

/* .dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);

  --secondary-foreground: 221deg 9% 18%;

  --card: 221deg 6% 24%;
  --simple-card: 221deg 9% 12% / 0.7;
  --simple-card-border: 221deg 9% 10% / 0.6;

  --border: var(--foreground-dark) / 0.1;

  --muted: var(--foreground-dark) / 0.1;
  --muted-foreground: var(--foreground-dark) / 0.6;
} */
