@import '../styles/variables.css' layer(base);
@import '../styles/loading-dots.css' layer(base);

@import 'tailwindcss';

@config "../../tailwind.config.ts";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

.absolute-centered {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

b,
strong {
  @apply font-bold;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.mobile {
  @apply block sm:hidden;
}

.desktop {
  @apply hidden sm:block;
}

.expanded-button-max-width {
  @apply w-full sm:max-w-xs sm:mx-auto;
}

.icon-text-size {
  width: 1em;
  height: 1em;
}

.fade-out-text {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    white 10%,
    white 90%,
    transparent 100%
  );
}

.fade-out-text--left {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    white 0%,
    white 90%,
    transparent 100%
  );
}

.fade-out-text-small {
  mask-image: linear-gradient(
    to left,
    transparent 0%,
    white 5%,
    white 95%,
    transparent 100%
  );
}

kbd {
  @apply bg-muted text-muted-foreground rounded-sm px-1 py-0.5;
}

.background-gradient {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.567) -44.93%,
      rgba(0, 0, 0, 0.7) 106.67%
    ),
    radial-gradient(
      74.83% 113.15% at 50% -13.15%,
      rgba(242, 255, 239, 0.52) 0%,
      rgba(244, 244, 235, 0.513954) 30.5%,
      rgba(126, 97, 100, 0.85) 64.5%,
      rgba(86, 54, 57, 0.91338) 79.5%,
      #181818 100%
    );
}

.background-gradient-card {
  background: linear-gradient(
      180deg,
      rgba(71, 60, 68, 0.1) 0%,
      rgba(131, 75, 81, 0.1) 100%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05));
}

/* ========================= */
/* 🎨 STYLES SCROLLBAR */
/* ========================= */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(246, 248, 253, 0.2);
  border-radius: 4px;
  border: 1px solid rgba(246, 248, 253, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(246, 248, 253, 0.6);
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(246, 248, 253, 0.2) rgba(0, 0, 0, 0.2);
}

@keyframes scanner-animation {
  0% {
    top: 0%;
  }

  50% {
    top: 100%;
  }

  100% {
    top: 100%;
  }
}

.scanner {
  animation: scanner-animation 8s linear infinite forwards;
}

@keyframes shiver-screen {
  0% {
    transform: skewX(0deg);
  }

  4% {
    transform: skewX(0.7deg) scale(1.0001);
  }

  8% {
    transform: skewX(0.2deg) skewY(-0.1deg);
  }

  16% {
    transform: skewX(0.2deg);
  }

  50% {
    transform: skewX(0.2deg);
  }
}

.screen-effects {
  animation: shiver-screen 10s linear infinite;
}

.pixels {
  /* background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.21) 0),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.055),
      rgba(0, 255, 0, 0.03),
      rgba(0, 0, 255, 0.055)
    );
  background-position-y: 0.0714285714rem;
  background-size: 100% 0.2142857143rem, 0.2857142857rem 100%; */

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: repeating-linear-gradient(
      0deg,
      #111 0px,
      #111 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 100% 5px;
    animation: lines 2s ease-out infinite;
    opacity: 0.3;
    mix-blend-mode: color-burn;
    pointer-events: none;
  }
}

/* ------ */

/* .pixels {
  &:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: repeating-linear-gradient(
      0deg,
      #111 0px,
      #111 1px,
      transparent 2px,
      transparent 5px
    );
    background-size: 100% 5px;
    animation: lines 2s ease-out infinite;
    opacity: 0.3;
    mix-blend-mode: color-burn;
    pointer-events: none;
  }
} */

@keyframes giggle {
  0%,
  100% {
    transform: translate(-50%, -50%) translateY(-2px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(2px);
  }
}
@keyframes lines {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 0px 25px;
  }
}
